#Dev
# Add any libraries that must first be installed
Babel
Jinja2
MarkupSafe
PyYAML
Pygments
Sphinx
alabaster
certifi
chardet
colorama
docutils
future
idna
imagesize
iso8601
packaging
pip
pyparsing
pyserial
pytz
requests
setuptools
six
snowballstemmer
sphinxcontrib-websupport
urllib3